# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
certifi==2016.2.28
click==6.7
flask==0.12.2
flask-sqlalchemy==2.3.2
gunicorn==19.1.0
itsdangerous==0.24
jinja2==2.9.6
markupsafe==1.0
openssl==1.0.2l
pastedeploy==1.5.2
pip==9.0.1
python==3.6.2
readline==6.2
setuptools==36.4.0
sqlalchemy==1.2.6
sqlite==3.13.0
tk==8.5.18
werkzeug==0.12.2
wheel==0.29.0
xz==5.2.3
zlib==1.2.11
